SECRET_KEY=your-secret-key
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost,greenloan.bibekbhandari.com.np
DATABASE_URL=sqlite:///db.sqlite3
EMAIL_HOST_USER=example@gmail.com
EMAIL_HOST_PASSWORD=app_password
DEFAULT_DOMAIN=localhost
CSRF_TRUSTED_ORIGINS=https://your-project.vercel.app,http://localhost:8000,https://greenloan.bibekbhandari.com.np
CORS_ALLOW_ALL_ORIGINS=True