{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green Loan</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'Customcss/basestyle.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <div class="d-flex align-items-center">
                <a href="{% url 'index'%}" class="navbar-brand d-flex align-items-center text-decoration-none">
                    <div class="logo-icon me-3">
                        <i class="fas fa-mountain" style="color:white; font-size:1.25rem;">
                        </i>
                    </div>
                    <div class="fw-bold" style="color: var(--primary-color); font-size: 1.1rem;">Green Loan(b.html)</div>
                    <div style="color: var(--secondary-color); font-size: 0.8rem;">Digital Loan service(b.html)</div>
                </a>
            </div>
            <button class="nav-toggler border-0" type="button" style="color: #556b2f;" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <button class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                {% if user.is_authenticated%}
                <li class="nav-item">
                    <a href="/" class="nav-link">DashBoard</a>
                </li>
                {% if user.role == 'customer' %}
                <li class="nav-item">
                    <a href="/" class="nav-link">Apply for loan</a>
                </li>
                {% endif %}
                {% endif %}
            </ul>

        </button>
    <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle d-flex align-items-center" id="navbarDropDown" role="button" data-bs-toggle="dropdown">
            <div class="user-avatar me-2">userfirstname|upper</div>
            userfullnameOrUsername
        </a>
        <ul class="dropdown-menu shadow">
            <li><a href="#" class="dropdown-item"><i class="fas fa-user me2"></i>Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <form action="#" method="post">
                    {%csrf_token%}
                    <button class="dropdown-item" type="submt"><i class="fas fa-sign-out-alt me-2"></i>Logout</button>
                </form>
            </li>
        </ul>
        </li>
        {%else%}
        <li class="nav-item">
            <button class="btn btn-ghost me2">Login</button>
        </li>
        <li class="nav-item">
            <button class="btn">Get Started</button>
        </li>
        {% endif %}
    </ul>

    </nav>
    <main class="container mt-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
    </main>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Customjs/base.js' %}"></script>
    <footer>
        @bibek bhandari
    </footer>
</body>
</html>