{% extends 'core/settings.html' %}
{% block settings_content %}
  <div class="d-flex justify-content-between mb-3">
    <h3>User List</h3>
    <a href="{% url 'core:user_create' %}" class="btn btn-primary">Add New User</a>
  </div>

  <table class="table table-bordered">
    <thead style="background-color: var(--primary-dark); color: var(--primary-light);">
      <tr>
        <th>Full Name</th>
        <th>Role</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.full_name }}</td>
          <td>{{ user.role }}</td>
          <td>{{ user.email }} 
              {% if user.email_verified%}
              <span class="badge bg-success">Verified email</span>
              {% else %}  
              <span class="badge bg-warning text-dark">Unverified email</span>
              {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
