{% extends "core/base.html" %}
{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">

            <h4 class="mb-3 text-center">Reset Password</h4>

            <form method="post">
                {% csrf_token %}
                {{ form.email.label_tag }}
                {{ form.email }}

                <button type="submit" class="btn btn-primary w-100 mt-3">
                    Send Reset Link
                </button>
            </form>

        </div>
    </div>
</div>

{% endblock %}