{% extends "core/base.html" %}
{% block content %}

<div class="container mt-4">

    <div class="row mb-3">
        <div class="col-md-8">
            <h3>Loan Repayments</h3>
        </div>
        <div class="col-md-4 text-end">
            <div class="card text-center shadow-sm">
                <h6 class="text-muted">Credit Score</h6>

                {% if request.user.creditscore.score >= 700 %}
                <h3 class="text-success">{{ request.user.creditscore.score }}</h3>
                <small class="text-success">Excellent</small>
                {% elif request.user.creditscore.score >= 650 %}
                <h3 class="text-primary">{{ request.user.creditscore.score }}</h3>
                <small class="text-primary">Good</small>
                {% else %}
                <h3 class="text-danger">{{ request.user.creditscore.score }}</h3>
                <small class="text-danger">Needs Improvement</small>
                {% endif %}


            </div>

        </div>
    </div>

    <div class="card shadow-sm">
        <div class="card-body table-responsive">
            <table class="table table-bordered align-middle">
                <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>Due Date</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ r.due_date }}</td>
                        <td>Rs. {{ r.amount_due }}</td>
                        <td>
                            {% if r.status == "paid" %}
                            <span class="badge bg-success">Paid</span>
                            {% elif r.status == "late" %}
                            <span class="badge bg-danger">Late</span>
                            {% else %}
                            <span class="badge bg-warning text-dark">Pending</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if r.status == "pending" %}
                            <a href="{% url 'loans:repay' r.id %}" class="btn btn-sm btn-primary">Pay Now</a>
                            {% else %}
                            <span class="text-muted">No action</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

                {% endblock %}